packages/hdf5-1.10.10
packages/mpich-4.2.1
packages/netcdf-c-4.9.2
packages/netcdf-fortran-4.6.1
packages/WRFV4.8.0.tar.gz

wrf/bin/*
!wrf/bin/getdata_gfs.py
!wrf/bin/runwrf

wrf/WPS_GEOG

wrf/gfs_0.25/*
!wrf/gfs_0.25/.gitkeep

wrf/log/*
!wrf/log/.gitkeep

wrf/output/*
!wrf/output/.gitkeep

wrf/include/
wrf/lib/

wrf/sectors/*
!wrf/sectors/ANDES03
wrf/sectors/ANDES03/wps/GFS*
wrf/sectors/ANDES03/wps/GRIBFILE*

wrf/sectors/ANDES03/wps/geo_em.*.nc
wrf/sectors/ANDES03/wps/geogrid.log
wrf/sectors/ANDES03/wps/met_em.*
wrf/sectors/ANDES03/wps/metgrid.log
wrf/sectors/ANDES03/wps/namelist.wps
wrf/sectors/ANDES03/wps/namelist.wps.old
wrf/sectors/ANDES03/wps/ungrib.log

wrf/sectors/ANDES03/wrf/met_em.*
wrf/sectors/ANDES03/wrf/namelist.input
wrf/sectors/ANDES03/wrf/namelist.input.old
wrf/sectors/ANDES03/wrf/namelist.output
wrf/sectors/ANDES03/wrf/rsl.error.*
wrf/sectors/ANDES03/wrf/rsl.out.*
wrf/sectors/ANDES03/wrf/wrfbdy_d01*
wrf/sectors/ANDES03/wrf/wrfinput*
wrf/sectors/ANDES03/wrf/wrfout*
wrf/sectors/ANDES03/wrf/wrfrst*

wrf/share/
wrf/WPS/
wrf/WRF/
wrf/build.conf

WRFscripts-build.txt

packages/WRFV4.8.0.tar.gz

*.tmp
*~




