WRFscripts-build.txt

packages/hdf5-1.10.10
packages/mpich-4.2.1
packages/netcdf-c-4.9.2
packages/netcdf-fortran-4.6.1
packages/WRFV4.8.0.tar.gz

wrf/bin/
wrf/gfs_0.25/
wrf/include/
wrf/lib/
wrf/log/
wrf/output/
wrf/sectors/
wrf/share/
wrf/WPS/
wrf/WPS_GEOG
wrf/WRF/
wrf/build.txt

install_wrf_variables.bash

*.old
*.tmp
*~




