# .gitignore file for WRFscripts

# Backup files
# Editor-specific extensions should go in your ~/.gitconfig, but we
# include the standard Unix backup '~' extension 
**/*~

# Emacs temporary and lock files
*~
\#*\#
.\#*

temp/
*.old
*.tmp
*~

*.template
WRFscripts-build.txt
#install_wrf_variables.bash

test_c_mpi/
!makefile
!mpi_hello_world.c
!README.txt
!test.sh

test_fortran_mpi/
!hello_world_mpi.f90
!README.txt
!test.sh

packages/
!hdf5-1.10.10.tar.bz2
!mpich-5.0.2.tar.gz
!netcdf-c-4.10.1.gz
!netcdf-fortran-4.6.4.gz
!WRFV4.8.0._part_*
!WPSV4.7.0.tar.gz
!INSTALL_LIBS_SERIAL_IO.bash

wrf/
!runwrf
!getdata_gfs.py
!License.txt
!wrfGFS.py
		w

